@charset "UTF-8";

@import '../../helpers/_variables.scss';

//Mixins:
@mixin font-setting($size, $color, $transform: none){
  font: {
    size: $size;
  }
  color: $color;
  text-transform: $transform;
}

@mixin block-setting($position: relative, $color: #fff) {
  position: $position;
  background-color: $color;
};

.wrap {

  &.scrolled {

    .timeline-header {
      position: fixed;
      top: 50px;
      box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    }

    .timeline-body {
      padding-top: 120px;
    }
  }

}

.room-photo {
  position: fixed;
  left: 0;
  top: 0;

  width: 100%;
  min-height: 200px;

  background: {
    //image: ;
    position: center center;
    repeat: no-repeat;
  }

  background: linear-gradient(to right, rgba(127,142,138,0.6) 0%, rgba(100,165,210,1) 100%); /* W3C */

}

.timeline {
  margin-top: 200px;

  @include block-setting();

  p { @include font-setting(18px, $grey-dark, uppercase); }

  .timeline-header {
    width: 100%;
    z-index: 5;
    padding-bottom: 15px;

    @include block-setting();

    .title { @include font-setting(36px, $black); }
  }

  .timeline-body {
    @include block-setting($color: #f3f3f3);

    .meeting {
      margin: 25px 0px;
      padding: 20px;

      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);

      @include block-setting();

      &.available { border-top: 2px solid $green; }

      &.occupied { border-top: 2px solid $red; }

      p { @include font-setting(16px, $grey-dark); }

      .title { @include font-setting(26px, $black); }

      .time {
        float: right;
        @include font-setting(16px, $grey-dark);
      }

      .attend {
        margin-top: 15px;
        @include font-setting(18px, $red);

        &.free { color: $green; }

        &:hover { text-decoration: none; cursor: pointer;}
      }
    }
  }
}
