@charset "UTF-8";

body {
  background: {
    color: $grey-light;
    //image: url('../../src/img/room.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
    blend-mode: luminosity;
  }
  overflow: hidden;
  font-family: $font-main;

}
.popup {
  background: #fff;
  margin: 8vw auto;
  max-width: 400px;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);

  .content {
    overflow: hidden;
    position: relative;
    padding: 40px;
  }

  .header {
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    background: $blue;
  }

  .form-group {
    margin-bottom: 15px;
    position: relative;
    width: 100%;
    overflow: hidden;

    .label-control {
      color: #888;
      display: block;
      font-size: 16px;
      position: absolute;
      top: 0;
      left: 0;
      padding: 0;
      width: 100%;
      pointer-events: none;
      height: 100%;

      &:before, &:after{
        content: "";
        left: 0;
        position: absolute;
        bottom: 0;
        width: 100%;
      }

      &:before{
        border-bottom: 1px solid $grey-light;
        @include transition(transform 0.3s);
      }

      &:after {
        border-bottom: 2px solid $blue;
        @include transform(translate3d(-100%, 0, 0));
        @include transition(transform 0.3s);
      }
    }

    .form-control {
      outline: none;
      box-shadow: none;
      border: none;
      border-radius: 0;
      margin-top: 20px;
      padding: 12px 0;
      width: 100%;
      font-size: 16px;

      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }


.form-group .label-control .label-text{
    @include transform(translate3d(0, 30px, 0) scale(1));
    @include transform-origin(top left);
    @include transition(0.3s);

    position: absolute;
}
.active .label-control::after{
    @include transform(translate3d(0%, 0, 0));
}
.active .label-control .label-text {
    opacity: 1;
    color: $blue !important;
    @include transform(scale(0.9));
}

.input-field label:before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid $grey-light;
  @include transition(transform 0.3s);
}


  input.btn[type="submit"] {
    background: $blue;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 5px 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;

    &:hover {
      filter: contrast(150%);
    }
  }

  .recover {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    color: #175690;
  }
}

@media (max-width: 480px){
  .popup {
    width: 90%;
    margin: 30px auto;
  }
  form#login-form{
    padding:8%;
  }
}
