//
// Variables
// ---------------

// Fonts

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400);
@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);

$font-main: 'Roboto Condensed', sans-serif;
$font-secondary: 'Noto Sans', sans-serif;

// Colours

$black: #04040a;
$grey-dark: #818181;
$grey-light: #868686;
$red: #ff4b3a;
$green: #52d1a4;
$blue: #2aa7d5;
