$black: #04040a;

.navbar {
  height: 50px;
  background-color: $black;

  .container {
    display: block;

    .navbar-header {
      order: 0;
      height: 50px;
      text-align: center;

      .navbar-brand {
        display: inline-block;
        float: initial;

        &.icon {
          min-width: 50px;
          background: {
            repeat: no-repeat;
            position: center;
            image: url("../../../logo.png");
            size: contain;
          }
        }

      }

      .navbar-toggle {
        margin-left: 15px;
        border: none;
        float: left;

        &:hover, &:focus {
          background: none;
        }

        .icon-bar { background: #fff; }
      }

    }

    .navbar-collapse {
      order: -1;

      .navbar-nav {
        margin: 0 -15px;
        background: $black;

        li a:hover, li a:focus, li a.active { background-color: rgba(225,225,225,0.2); }

        //li.active a { border-bottom: 2px solid #fff; }

        a { color: #fff; font-weight: bold;}

      }
    }

    .book-btn {
      display: inline-block;
      float: right;
      order: 2;
      padding: 8px;
    }

  }
}

@media (min-width: 768px) {

  .navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

}
