@import "./helpers/_variables.scss";
@import "./helpers/_mixins.scss";

html, body, #app, #app > div {
  height: 100%;
}

body {
  font {
    family: $font-secondary;
    size: 16px;
  }
  background-color: #f3f3f3;
}
