@charset "UTF-8";

@import "./helpers/_variables.scss";
@import "./helpers/_mixins.scss";

@import "./components/Book/book";
@import "./components/Look/look";
@import "./components/Pick/pick";
@import "./components/Forms/form";

body {
  font {
    family: $font-secondary;
    size: 16px;
  }
  background-color: #f3f3f3;
}

.fof {
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;

  background: {
    blend-mode: multiply;
    color: rgba(0, 0, 0, 0.4);
    image: url('https://media.tenor.co/images/6335c6626d00511ed701c10e514c0931/tenor.gif');
    position: center center;
    repeat: no-repeat;
    size: cover;
  }

  color: #fff;
  font: {
    family: monospace;
    size: 50px;
  }
}
