@charset "UTF-8";

@import "helpers/_defaults.scss";
@import "header.scss";

.container {
  display: block;
}

.navbar-header {
  order: 0;
  text-align: center;

  .navbar-brand {
    display: inline-block;
    float: initial;
  }
}

.book-btn {
  display: inline-block;
  float: right;
  order: 2;
  padding: 8px;
}

.navbar-collapse {
  order: -1;
}

.content {
  padding-top: 50px;
  height: 100%;
  background-color: #f3f3f3;
}

.filters{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  z-index: 1050;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background: $grey-dark;
    display: flex;

    li {
      flex: 1;
      text-align: center;

      a {
        text-decoration: none;
        display: block;
        padding: 1em;
        color: #fff;
      }

      &:hover {
        background-color: $blue;
      }
    }
  }
}

.main {
  padding: 20px 5px;

  .room {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-bottom: 15px;

    background : {
      color: #fff;
      position: center top;
      repeat: no-repeat;
    }

    .header {
      color: #fff;
      height: 150px;
      position: relative;
      background: linear-gradient(to right, rgba(127,142,138,0.6) 0%, rgba(100,165,210,1) 100%); /* W3C */

      span {
        font: {
          family: $font-main;
          weight: 900;
          size: 2rem;
        }
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .info {
      padding: 15px;

      .title {
        font: {
          weight: bold;
          family: $font-secondary;
        }
      }
    }

  }
}

@media (min-width: 768px) {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .content {
    padding-top: 100px;
  }

  .filters {
    top: 50px;
  }
}
