.book .content {
  padding-top: 50px;

  .filters{
    position: fixed;
    bottom: -2px;
    width: 100vw;
    height: 50px;
    z-index: 1050;

    ul {
      background: $grey-dark;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        flex: 1;
        text-align: center;

        a {
          display: block;
          color: #fff;
          padding: 1em;
          text-decoration: none;

        }

        &:hover {
          background-color: $blue;
        }
      }
    }
  }

  .room-list {
    padding: 20px 5px;

    .room {
      box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
      position: relative;
      margin-bottom: 15px;

      background : {
        color: #fff;
        position: center top;
        repeat: no-repeat;
      }

      .header {
        color: #fff;
        height: 150px;
        display: block;
        position: relative;
        background: linear-gradient(to right, rgba(127,142,138,0.6) 0%, rgba(100,165,210,1) 100%);

        span {
          font: {
            family: $font-main;
            size: 2rem;
            weight: 900;
          }
          text-transform: uppercase;
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .info {
        padding: 15px;

        .title {
          font: {
            family: $font-secondary;
            weight: bold;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .book .content {
    padding-top: 100px;

    .filters {
      top: 50px;
    }
  }

}
