.login {
  background: {
    image: url('./images/room.jpg');
    repeat: no-repeat;
    size: cover;
    position: center;
    blend-mode: luminosity;
  }
  height: 100vh;
  position: relative;

  .popup { margin-top: 10vh; }

}

.bookform {
  z-index: 1200;
  position: fixed;
  display: none;
  top: 0;
  width: 100vw;

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background: rgba(14,43,63,0.9);
  }

  .popup { margin-top: 6vh; }

  &.opened { display: block; }
}

.popup {
  font-family: $font-main;
  background: #fff;
  min-width: 350px;
  max-width: 400px;
  position: absolute;
  left: 50%;
  margin-left: -175px;
  box-shadow: 0 3px 6px 0px rgba(0,0,0,0.16), 0 3px 6px 0px rgba(0,0,0,0.23);
  z-index: 1200;

  .header {
    color: #fff;
    font-size: 34px;
    font-weight: normal;
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;
    background: $blue;
  }

  .content {
    overflow: hidden;
    position: relative;
    padding: 40px;

    .form-group {
      margin-bottom: 15px;
      position: relative;

      .label-control {
        color: #888;
        display: block;
        font-size: 16px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
        width: 100%;
        pointer-events: none;
        height: 100%;

        .label-text {
          text-transform: capitalize;
          position: absolute;

          @include transform(translate3d(0, 30px, 0) scale(1));
          @include transform-origin(top left);
          @include transition(0.3s);
        }

        &:before, &:after{
          content: "";
          left: 0;
          position: absolute;
          bottom: 0;
          width: 100%;
        }

        &:before{
          border-bottom: 1px solid $grey-light;
          @include transition(transform 0.3s);
        }

        &:after {
          border-bottom: 2px solid $blue;
          @include transform(translate3d(-100%, 0, 0));
          @include transition(transform 0.3s);
        }
      }

      .form-control {
        outline: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        margin-top: 20px;
        padding: 12px 0;
        width: 100%;
        font-size: 16px;

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }

      .filter {
        position: relative;

        .dropdown-menu {
          max-height: 160px;
          overflow-y: auto;
        }

        .dropdown-menu li {
          &:hover { cursor: pointer; }
        }
      }

      &.textinput {
        overflow: hidden;
        width: 100%;
      }

      &.active {
        .label-control {
          &:after {
            @include transform(translate3d(0%, 0, 0));
          }

          .label-text {
            opacity: 1;
            color: $blue !important;
            @include transform(scale(0.9));
          }
        }
      }
    }
  }

  .input-field label:before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 1px solid $grey-light;
    @include transition(transform 0.3s);
  }



  input.btn[type="submit"] {
    background-color: #fff;
    border: 2px solid $blue;
    border-radius: 2px;
    color: $blue;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 3px;
    margin: 5px 0;
    outline: medium none;
    overflow: hidden;
    padding: 10px;
    text-transform: uppercase;
    transition: all 0.15s ease-in-out 0s;
    width: 100%;

    &:hover {
      background-color: $blue;
      color: #fff;
    }

    &.success {
      background-color: $green;
      border-color: $green;
      color: #fff;
    }
  }

  .recover {
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
    color: #175690;
  }
}
